/* Global */
* {
	box-sizing: border-box;
	font-family: Arial;
	font-size:95%;
}
header {
	margin-top:10px;
}

/* Classes */
.row::after { 
	clear:both; 
}
.nav-table {
	width:100%;
	text-align:center;
}
.text-right { 
	text-align:right;
}
.text-left {
	text-align:left;
}
.text-center {
	text-align:center; 
}
.no-margin {
	margin:0
}
.i-area { 
	margin-bottom:25px;
	padding-right:10px; 
	padding-left:10px; 
	padding-top:15px;
}
.i-area img {
	width:80px;
	height:80px;
}
.with-border {
	border: 1px solid red;
}
.logo {
	width:100px;
	height:76px;
}
[class*="col-"] {
	float: left;
	width: 100%;
}
/* specific colors */
.orange-bg {
	background-color:#F47524;
}
.celeste-bg {
	background-color:#53BBEE;
}

/* horizontal mobile view */
@media only screen and (min-width: 568px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	#menu { margin-top:40px; margin-bottom:50px; }
}
